<div class="container my-5">
    <div class="justify-content-center align-items-center d-flex flex-sm-column-reverse flex-wrap flex-md-row">
        <!-- left side -- Game Board  -->
        <div class="col-lg-6">
            <div *ngIf="!winMessage" class="text-center">
                <h1 [hidden]="isCross" class="uppercase text-light">Player One Turn</h1>
                <h1 [hidden] = "!isCross" class="uppercase text-light">Player Two Turn</h1>
            </div>

            <div class="grid my-5 my-md-3 p-4 p-lg-5 border border-2">
                <div *ngFor="let item of itemArray; index as i" >
                    <div class="card text-center">
                        <div class="box" (click)="handleClick(i)">
                            <app-icon [iconName]="item"></app-icon>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Right side -- Game Status -->
        <div class="col-lg-6 text-center pb-lg-5 mb-lg-5">
            <div *ngIf="winMessage" class="text-uppercase text-light">
                <h1 class="fs-3"> Game Over </h1>
                <h1 class="fs-1 text-info my-5 display-5"> {{winMessage}} </h1>
            </div>
            
            
            <button 
            (click)="reloadGame()"
            class="btn btn-info text-uppercase px-4 py-2 mt-3 mb-5 btn-md text-light fst-bold">
                Reload Game
            </button>
        </div>
    </div>
</div>
